body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'roboto', arial;
}

/* navbar area */

.top-page {
    flex-direction: column;
    display: flex;
    background-color: black;
}

.navbar {
    display: flex;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 84px;
    height: 84px;
    display: flex;
}

ul {
    color: black;
    background-color: white;
    display: flex;

}

/* hero */

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    color: white;  
}

.main-header-1 {
    flex-basis: 400px;
    text-align: left;
    display: flex;
    margin-right: 50px;
    flex-direction: column;
}

.main-header p {
    
}

.headerimage {
    height: 450px;
    width: 450px;
    display: flex;
    margin-bottom: 20px;
}







/* content */

.middle-page {
    background-color: white;
}
