body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'roboto', arial;
}

.top-page {
    flex-direction: column;
    display: flex;
}

.navbar {
    display: flex;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 84px;
    height: 84px;
    display: flex;
}

ul {
    color: black;
    display: flex;

}


.middle-page {
    background-color: white;
}
