.top-page {
    background-color:black;
    flex-direction: column;
}

.logo {
    margin-left: 20;
    width: 84px;
    height: 84px;
    display: flex;
}

ul {
    color: black;
    padding: 2;
    border: red;

}


.middle-page {
    background-color: white;
}
